*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.text-align{
    text-align: center;
}
.address{
    margin-top: 10px;
    border-top: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
    padding: 10px 0px 10px 0px;
}
.card{
    border: 0.05px solid lightslategray ;
    margin: 10px 0px 10px 0px;
    padding-left: 10px;
    width: 411px;
    height:460px;
    position: relative;
    top: 50%;
    left: 35%;
    
}
.space{
    margin-top: 16px;
    /* width: 500px; */
}
.space1{
    margin-top: 10px;
    width: 300px;
}
.space2{
    width:380px ;
}
.anchor ul li  a{
    border: 1px solid lightslategray;
    padding: 10px 100px 10px 100px;
    list-style-type: none;
    text-decoration: none;
    background-color: green;
    color: white;
}
.anchor li{
    list-style-type: none;
}
.nav ul{
    word-spacing: 55px;
    margin-top: 100px;
}
.nav a{
    text-decoration: none;
    color: black;
    /* background-color: rgb(142, 228, 228); */
    /* padding: 10px 30px;
    border:1px solid rgba(43, 37, 37, 0.263) */
    
}
.nav li{
    display: inline-block;
    list-style-type: none;
}
.nav li a:hover{
    
    color: #fff;
    background-color: #e35c52;
    border: 1px solid #e95a50;
    border-radius: 5px;
    padding:  10px 30px;
    transition: 1s;
}
/* @media screen and (min-width:560px){
    .card{
        border: 0.05px solid lightslategray ;
        margin: 10px 0px 10px 0px;
        padding-left: 10px;
        width: 500px;
        height:460px;
        position: relative;
        top: 50%;
        left: 35%;
        
    }
} */
